@import "../../app";
.message_list {
  .swipe-cell-btn {
    display: flex;
    height: 100%;
    text-align: center;
  }
  .list_img {
    width: 108rpx;
    height: 108rpx;
    margin-right: 30rpx;
  }
  .van-row-wrapper {
    height: 100%;
  }
  .h100 {
    height: 100%;
  }
  .van-cell__title {
    overflow: hidden;
  }
  .list_title {
    font-size: 30rpx;
    color: var(--font-color);
  }
  .list_desc {
    font-size: 24rpx;
    color: var(--desc-color);
  }
}
