
.edit-user-info {
  height: 100vh;
  overflow: auto;
  background-color: #f5f5f5;
  padding: 30rpx 38rpx;

  .upload-wrap {
    height: 300rpx;
    margin-bottom: 30rpx;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    .van-uploader {
      border-radius: 50%;
      overflow: hidden;
      .van-uploader__upload {
        background-color: rgba(155, 113, 238, 0.15);
        margin: 0;
        width: 230rpx !important;
        height: 230rpx !important;
      }
      .van-uploader__preview {
        margin: 0;
      }
      .van-uploader__preview-image {
        margin: 0;
        width: 230rpx !important;
        height: 230rpx !important;
      }
      .van-uploader__upload-icon {
        color: #9B71EE;
        font-size: 46rpx;
      }
    }
  }

  .vant-form-formItem-wrapper {
    background: none;
  }
  .vant-form-label {
    font-size: 31rpx;
    color: #000;
  }
  .vant-form-formItem {
    padding: 26rpx 30rpx;
    margin: 0 0 23rpx;
    border-radius: 30rpx;
  }
  .vant-form-formItem-controll {
    margin-left: 15rpx;
  }

  .form-item-info {
    width: 100%;
    text-align: right;
    padding-right: 30rpx;
  }

.van-button-submit {
    color: #901aff;
    margin-bottom: 23rpx;
  }
}
