@import "../../app";

.robot_detail {
  height: 100vh;
  overflow: auto;
  background-color: var(--background-gray-color);
  padding-bottom: 50rpx;
  .my_avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60rpx;

    .my_avatar_img {
      margin-top: 50rpx;
      margin-bottom: 30rpx;
    }

    .my_desc {
      padding: 0 140rpx;
      color: var(--desc-color);
    }

    .my_info {
      margin-top: 25rpx;
      display: flex;
      .my_nick_name {
        color: var(--theme-color);
      }

      .my_hot {
        display: flex;
        align-items: center;
        margin-right: 20rpx;
        color: var(--desc-color);
      }
    }

  }

  .cell-group {
    margin-bottom: 20rpx;
    border-radius: 31rpx;
    .title-class {
      margin-left: 20rpx;
    }
  }
}
