
page {
  --font-color: #fff;
  --theme-color: #8F1AFF;
  --desc-color: #fff;
  --background-color: #000;
  --background-gray-color: #000;
  --btn-background-color: #000;

  // 组件颜色
  --text-color: #fff;
  --tab-text-color: #fff;
  --cell-text-color: #fff;
  --form-label-color: #fff;
  --form-controll-color: #fff;
  --field-input-text-color: #fff;
  --button-default-color: #fff;
  --primary-color: #8F1AFF;
  --cell-background-color: #000;
  --search-background-color: #000;
  --tabs-nav-background-color: #000;
  --form-background-color: #000;
}
