page {
  --font-color: #333;
  --theme-color: #8F1AFF;
  --desc-color: #959595;
  --background-color: #fff;
  --background-gray-color: #F5F5F5;
  --btn-background-color: #fff;

  // 组件颜色
  --primary-color: #8F1AFF;
  --infinite-scroll-primary-color: #8F1AFF;
  --form-label-color: #333;
  --cell-background-color: #fff;
  --search-background-color: #fff;
}
